on: [workflow_dispatch]
name: ci-markdown

defaults:
  run:
shell: pwsh
on:
  push:
    branches: ['**']
  pull_request:
  workflow_dispatch:
concurrency:
  group: ci-markdown-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - name: markdownlint-cli2
        run: npx -y markdownlint-cli2@0.14.0 "**/*.md" "#node_modules"

